   
	body {
		background: url(/haa.png)
		no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: repeat, no-repeat;
		min-width:100%;
		min-height:100%;
		color: #777777;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
}
	body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
	
	#cross{
		width: 20px;
    position: absolute;
    text-align: right;
    top:50px;
    margin-left: 75px;
	}
	#lion{
		 width: 50px;
    position: absolute;
    text-align: right;
    top:40px;
    margin-left: 10px;
	}

    input[type=submit]{
       
    }
    #all{
    	margin-top: 200px;
    }
   a #logo{
    width: 52px;
    position: absolute;
    text-align: right;
    top:40px;
    margin-left: 110px;
   }
  
  #homepage{
  	color:#ffffff;
  	 width: 70px;
  	 font-size: 10px;
    position: absolute;
    text-align: center;
    top:95px;
    margin-left: 95px;
  	opacity: 0.0;

  }
  #babo{
  	color:#ffffff;
  	opacity: 0.0;
  	 width: 70px;
  	 font-size: 10px;
    position: absolute;
    text-align: center;
    top:95px;
    margin-left: 3px;
  }
    .row a{
    	
    	color:#ffffff;
    	font-size: 30px;
    	opacity: 0.5;
    }
     a:hover { color: white; text-decoration:none;}
	#nav{
	    margin-top: 80px;
	    margin-bottom: 10px;
		text-align: center;	    
	}
       
	#nav a img{
	    width:50px;
	    margin:10px;
	    opacity: 0.5;
	}
	#nav a{
		font-size: 17.5px;
	}
	#nav #snumber{
		font-size: 15.5px;
	}

    #nav a span{
        display: block;
						position: absolute;
						background: #222222;
						color: #ffffff;
						top: -2.75em;
						font-size: 0.3em;
						height: 2.25em;
						line-height: 2.25em;
						left: 50%;
						opacity: 0;
						-moz-transition: opacity .25s ease-in-out;
						-webkit-transition: opacity .25s ease-in-out;
						-ms-transition: opacity .25s ease-in-out;
						transition: opacity .25s ease-in-out;
						width: 5.5em;
						margin-left: -2.75em;
    }
    	#nav a span:after {
							content: '';
							display: block;
							position: absolute;
							bottom: -0.4em;
							left: 50%;
							margin-left: -0.6em;
							border-top: solid 0.6em #222222;
							border-left: solid 0.6em transparent;
							border-right: solid 0.6em transparent;
						}
		#main {
		   
				background: none;
				display: none;
			}

			.whitebox {
				padding: 40px 40px 40px 40px;
    			text-align: center;
				background: #ffffff;
				box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
				margin-bottom: 150px;
			
			}

				.whitebox header {
					padding-top: 1em;
				}
		#main #n{
			font-size:20px;
			color:#474D78;
		}
		#main .input-group-btn input{
			margin-left: 5px;
			width: 30px;
			border:0;
		}
		#main #go{
			padding-top: 2px;
			margin-left: 3px;
			width: 20px;
			border:0;
		}
		#main img{
			width:23px;
			margin-bottom: 7px;
			margin-top: 5px;
		}
		#main #na{
			font-size: 20px;
			
		}
		
		#tri{
			display: none;
		     width: 0;
        	height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
        	border-bottom: 30px solid white;
        	position: relative;
        	left: 40%;  
        	
		}
				
	#copyright{
	   padding-top: 70px;
	    font-family: 'Nanum Gothic', sans-serif;
	    text-align: center;
	    font-size: 13px;
		width: 100%;
		padding-bottom:20px;
		color:#fff;
		position: fixed;
		bottom: 0;
	}
		