
<html>
  <head>
      <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    		<link rel="stylesheet" href="/main.css" />
    		<script src="/assets/js/ie/html5shiv.js"></script>
    		
  </head>
  <body>
   <a href="http://www.wku.ac.kr"><img id = "logo" type="button" src="/logo4.png" ></a>
    <img id="cross" src="/cross.png">  <img id="lion" src="/lion.png"></br>
    
    <span id="homepage">학교 홈페이지</span>
    <span id="babo">이명아 나혜진</span>
  <div id="all">
  <nav id="nav">
    <div class="row">
      <div class="col-md-4 col-xs-2 col-sm-2"></div>
      <div class="col-md-1 col-xs-2 col-sm-2"><a href="/home/index" id="name"> <i class="fa fa-twitch fa-1x"> 이름</i> </a></div>
      <div class="col-md-2 col-xs-3 col-sm-4"><a href="/home/index/2"id = "sname"><i class="fa fa-table fa-1x">  과목 </i> </a></div>
      <div class="col-md-1 col-xs-2 col-sm-2"><a href="/home/index/3"id="snumber"><i class="fa fa-sort-numeric-desc fa-1x"> 학수번호</i> </a></div>
      <div class="col-md-3 col-xs-2 col-sm-2"></div>
    </div>
  <div class="row">
    <div class="col-md-4 col-xs-2 col-sm-2"></div>
    <div class="col-md-1 col-xs-2 col-sm-2"><div id="tri"></div></div>
    <div class="col-md-7 col-xs-8 col-sm-8"></div>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-1 col-sm-1"></div>
    <div class="col-md-6 col-xs-10 col-sm-10" id="merong">
      <div id="main" >
        <div class="whitebox">
        <% @name.each do |n| %>
            <form action='/home/<%=n.id%>/search'method='post'>
               <span id="n" ><%= n.name %></span>
                <span id="b"><%= n.bel %></span>
            <input id="go"type="image" src="/mouse.png" value="꼬우">
            </form>
        <% end %>
        </div>
    </div>
    </div>
    <div class="col-md-3 col-xs-1 col-sm-1"></div>
    </div> 
  <div id="copyright">Copyright ⓒ멋쟁이사자처럼 in 원광대</div>
 <script>

 
 if($("#main").is(":hidden")){
  $("#main").slideDown("slow");}
  
 if($("#tri").is(":hidden")){
  $("#tri").slideDown("fast");}

  $("#name").css("opacity","1.0");
  
  $(".row a").mouseenter(function(){
    
	    $(this).css("opacity","1.0"); 

  }); 
  
   $(".row a").mouseleave(function(){
    
	    $(this).not("#name").css("opacity","0.5");
  }); 
  $("#logo").mouseenter(function(){
    
	    $("#homepage").css("opacity","1.0");

  });
  $("#logo").mouseleave(function(){
    
	    $("#homepage").css("opacity","0.0");

  });
  $("#lion").mouseenter(function(){
    $("#babo").css("opacity","1.0");
  });
  $("#lion").mouseleave(function(){
    $("#babo").css("opacity","0.0");
  });
  </script>
  </body>
</html>


