
<html>
  <head>
    <link rel="stylesheet" href="/main.css" />
    <script src="/assets/js/ie/html5shiv.js"></script>
  </head>
  <body>
   <a href="http://www.wku.ac.kr"><img id = "logo" type="button" src="/logo4.png" ></a>
    <img id="cross" src="/cross.png">  <img id="lion" src="/lion.png"></br>
    
    <span id="homepage">학교 홈페이지</span>
    <span id="babo">이명아 나혜진</span>
  <div id="all">
      <nav id="nav">
        <div class="row">
          <div class="col-md-4 col-xs-2 col-sm-2"></div>
          <div class="col-md-1 col-xs-2 col-sm-2"><a href="/home/index" id="name"> 이름 </a></div>
          <div class="col-md-2 col-xs-4 col-sm-4"><a href="/home/index/2"id = "sname"> 과목 </a></div>
          <div class="col-md-1 col-xs-2 col-sm-2"><a href="/home/index/3"id="snumber"> 학수번호 </a></div>
          <div class="col-md-4 col-xs-2 col-sm-2"></div>
        </div>
      </nav>
  <div class="row">
    <div class="col-md-5 col-xs-4 col-sm-4"></div>
    <div class="col-md-2 col-xs-4 col-sm-4"><div id="tri"></div></div>
    <div class="col-md-5 col-xs-4 col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-1 col-sm-1"></div>
    <div class="col-md-6 col-xs-10 col-sm-10" id="merong">
      <div id="main" >
        <div class="whitebox">
            <% @subject.each do |n| %>
                <% l=n.professors.length %>
                <% for i in 0..(l-1) %>
                    <form action='/home/<%=n.professors[i].id%>/search2'method='post'>
                        <span id="n"><%= n.professors[i].name %> </span>
                        <span id="b"><%= n.sname %>(<%= n.snumber %>)</span>
                        
                        <input id="go"type="image" src="/mouse.png"value="꼬"> </br>
                     </form>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>

  <script>

  if($("#main").is(":hidden")){
  $("#main").slideDown("slow");}
  
 if($("#tri").is(":hidden")){
  $("#tri").slideDown("fast");}

  $("#sname").css("opacity","1.0");
  
  $(".row a").mouseenter(function(){
    
	    $(this).css("opacity","1.0"); 

  }); 
  
   $(".row a").mouseleave(function(){
    
	    $(this).not("#sname").css("opacity","0.5");
  }); 
  $("#logo").mouseenter(function(){
    
	    $("#homepage").css("opacity","1.0");

  });
  $("#logo").mouseleave(function(){
    
	    $("#homepage").css("opacity","0.0");

  });
$("#lion").mouseenter(function(){
    $("#babo").css("opacity","1.0");
  });
  $("#lion").mouseleave(function(){
    $("#babo").css("opacity","0.0");
  });
  </script>
  </body>
</html>
