<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

  <title>원광대학교 교수님 연락처</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

<%= yield %>
    <a href="http://www.wku.ac.kr"><img id = "logo" type="button" src="/logo4.png" ></a>
    <img id="cross" src="/cross.png">  <img id="lion" src="/lion.png"></br>
    
    <span id="homepage">학교 홈페이지</span>
    <span id="babo">이명아 나혜진</span>

 <div id="copyright">Copyright ⓒ멋쟁이사자처럼 in 원광대</div>

</body>
<script>
    $("#logo").mouseenter(function(){
    
	    $("#homepage").css("opacity","1.0");

  });
  $("#logo").mouseleave(function(){
    
	    $("#homepage").css("opacity","0.0");

  });
  $("#lion").mouseenter(function(){
    $("#babo").css("opacity","1.0");
  });
  $("#lion").mouseleave(function(){
    $("#babo").css("opacity","0.0");
  });
  
</script>
</html>
